body{
    color: brown;
    background-color: rgb(51, 255, 0);
}
.header{
    border: 1px solid gray;
    height: 20vh;
    display: flex; 
    justify-content: space-between;

}

.main{
    border: 1px solid yellow;
    

}

.footer{
    border: 1px solid rebeccapurple;
    height: 10vh;
}

.border{
    border: 1px solid red;
}

.background{
    background-color: goldenrod;

}
.menuprincipal{
    width: 40%;
}
.menu1{
    display: flex;
    justify-content: space-evenly;
}
.item{
    list-style: none;
}
.form{
    margin: 5px;
    border: 1PX solid green;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    

}

.images{
    width: 50%;
    margin: auto;
    border: 1px solid red
    

}
.title{
    max-width: 100%;
    min-width: 20%;
}

.border-k{
    border: 2px solid black;
    border-top: 2px blue;
    border-bottom: 2px dotted red;
}
.border-c{
    border: 2px solid yellow;
    border-radius: 5px 50px 20px 80px;
}

.shadow{
    border: 2px solid beige;
    box-shadow: 15px 15px 20px 2px black,
    25px 25px 10px 2px red,
    35px 35px 10px 2px blue;

   
}

.shadow{
    text-shadow: 3px 3px 0px red,
    5px 3px 0px
    7px 3px 0px;
}

.fonde{
    background-image: url(/IMG/pexels-pixabay-47730.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

 
















































































































































































































































































































































































































































































































































































